<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<description> Mensajeador web de ejemplo </description>
	<display-name>Mensajeador web de ejemplo</display-name>
	
	<context-param>
		<param-name>ipServidor</param-name>
		<param-value>192.168.0.20</param-value>
	</context-param>
	<context-param>
		<param-name>puerto</param-name>
		<param-value>192.168.0.20</param-value>
	</context-param>
	<context-param>
		<param-name>objeto</param-name>
		<param-value>192.168.0.20</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>EscolaridadServlet</servlet-name>
		<servlet-class>servlets.EscolaridadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Escolaridad</servlet-name>
		<url-pattern>/Escolaridad</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Egresados</servlet-name>
		<servlet-class>servlets.EgresadosServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Egresados</servlet-name>
		<url-pattern>/Egresados</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>EscolaridadServlet</servlet-name>
	    <jsp-file>/escolaridad.jsp</jsp-file>
	</servlet>
	<!--mapping-->
	<servlet-mapping>
	    <servlet-name>EscolaridadServlet</servlet-name>
	    <url-pattern>/escolaridad</url-pattern>   
	</servlet-mapping>

	<servlet>
	    <servlet-name>EgresadosServlet</servlet-name>
	    <jsp-file>/egresados.jsp</jsp-file>
	</servlet>
	<!--mapping-->
	<servlet-mapping>
	    <servlet-name>EgresadosServlet</servlet-name>
	    <url-pattern>/egresados</url-pattern>   
	</servlet-mapping>
	
  <welcome-file-list>
	<welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  
</web-app>