body {
	font-family: 'Mark Bold',sans-serif;
}

header{
	height: 90px;
    width: calc(100% - 45px);
    background-color: rgba(0, 0, 0, 0.03);
    font-family: 'Open Sans',sans-serif;
    font-size: 24px;
    line-height: 120px;
    padding-left: 45px;
    color: 00263d;
}

.header-title {
		
}

.header-title:after {
    background-color: #ff0049;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    width: 40px;
    top: 76px;
}

.menu {
	top: 30%;
    display: block;
    width: 190px;
    height: 250px;
    padding: 20px;
    position: fixed;
    left: -200px;
    border-radius: 0 10px 10px 0;
    font-family: 'Open Sans',sans-serif;
    box-shadow: 0 1rem 1rem 0.1rem rgba(0,0,0,.2);
    background-color: rgba(0, 0, 0, 0.03);
}

.menu:hover {
	transition: all 1.5s ease;
    transform: translateX(200px);	
}

.menu .content-wrapper {
	position: relative;
    width: 100;
    height: 100%;
}

.menu .content-wrapper .links-container {	
	float: left;
    width: 150px;
    height: 150px;
}	

.menu .content-wrapper .links-container .link-item {
	display: block;
}

.menu .content-wrapper .links-container .link-item.inicio {
	margin-top: 180px;
}

.menu .content-wrapper .links-container .link-item a:hover {
	color: #ff0049;
}

.menu .content-wrapper .links-container .link-item a {
	display: block;
	text-decoration: none;
    font-size: 18px;
    color: #000000;
    margin-bottom: 10px;
}
		
.menu .content-wrapper .menu-title {
	transform: rotate(90deg);
    position: absolute;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    letter-spacing: 10px;
    margin-right: -25px;
    font-weight: 600;
    color: #929292;
}	

.menu .content-wrapper .menu-title .letter {
	float: left;
	transform: rotate(270deg);
}

.main-content-wrapper {
	height: calc(100% - 160px);
    width: 90%;
    margin: auto;
    background-color: #ffffff47;
    padding: 20px;
    text-align: center;
}

.main-content-wrapper img {
	opacity: 0.2;
    width: auto;
    max-height: 400px;
    height: 100%;	
}

.error-container {
	text-align: center;	
}

.error-container img {
	margin: auto;
    left: 0;
    right: 0;
}

.error-container span {
	display: block;
    font-size: 25px;
    bottom: 40px;
    text-align: center;
    width: 100%;
    max-width: 50%;
    margin: auto;
    margin-top: 25px;
}

.error-container .exception {
    margin-bottom: 50px;
    border: 1px solid red;
    padding: 15px;
}

.error-container a {
	text-decoration: none;	
}

span.no-egresado-msg {
	font-size: 25px;	
}

footer {
	font-family: 'Open Sans',sans-serif;
	height: 70px;
	width: 100%;
	background-color: #002b45;
}

/*
* Common Classes & Components
**********************************/
.search-input,
.search-button {
	padding: 10px;
    border-radius: 5px;
}

.search-button {
	cursor: pointer;	
}

table {
	table-layout: fixed;
    width: 70%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    color: #002b45;
    border: 1px solid #fff;
	font-family: 'Mark Bold',sans-serif;
}

table th {    
	font-weight: 600;
    height: 30px;
}

span.msg {
	color: red;
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}

.text-center {
	text-align: center;
}